*{
	margin: 0;
	padding: 0;
}
html{
	scroll-behavior: smooth;
}
body {
	font-family: "Tw Cen MT", sans-serif;
	font-size: 17px;
}
#navbar{
	background-color: #b6f9cb;
	opacity: 0.75;
}
#menu{
	float: right;
	padding-right: 10px;
	padding-bottom: 10px;
	margin-top: 5px;
}
.color-background {
	background-color: #b6f9cb;
}
#order .btn{
	background-color: white;
	border: none;
	color: black;
	padding: 15px 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 50px;
	cursor: pointer;
	width: 50%;
	border-radius: 10px;
}
form{
	display: inline-block;
}
.vlorID {
	text-align: center;
}
.testimony{
	border: 1px ;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	background-color: #b6f9cb;
}
#contact a{
	text-decoration: none;
}
.logo img{
	position: absolute;
	margin-left: 20px;
	width: 120px;
	height: 50px;
	margin-top: 10px;
}
.contain-logo img{
	width: 45%;
	height: 90%;
}
.faq {
	border: 1px ;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	background-color: #b6f9cb;
}


